<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.breathingmeditationandroid">


    <uses-permission android:name="android.permission.BLUETOOTH"/>

    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:theme="@style/Theme.AppCompat.Light">
        <activity android:name=".StartupActivity"
                  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".TestView"
            android:hardwareAccelerated="true">
        </activity>
        <activity android:name=".GameScreen"
            android:hardwareAccelerated="true">
        </activity>
        <activity android:name=".HomeScreenActivity">
        </activity>
        <activity android:name=".AboutScreen">
        </activity>
        <service android:name=".BluetoothConnection"/>
    </application>

</manifest>